* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center; /*Sets both properties (justify-content and align-items)  */ 
  background-color: #fafafa;
}

h1 {
  color: #cdf34d;
}

a {
  color: lightgray;
  text-decoration: none;
}